@{
        string Title = Model.WithoutSettings.String(BlogKeys.Title);
        string PageTitle = Context.String(BlogKeys.Title) + (string.IsNullOrWhiteSpace(Title) ? string.Empty : " - " + Title);
}

<!DOCTYPE html>
<html lang="en">
        <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

        <title>@PageTitle</title>
        <meta name="description" content="@Context.String(BlogKeys.Description)" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        

        @if (Context.String(BlogKeys.RssPath) != null) {
        <link type="application/rss+xml" rel="alternate" title="@Context.String(BlogKeys.Title)" href="@Context.GetLink(Context.String(BlogKeys.RssPath))" />
        }
        @if (Context.String(BlogKeys.AtomPath) != null) {
        <link type="application/atom+xml" rel="alternate" title="@Context.String(BlogKeys.Title)" href="@Context.GetLink(Context.String(BlogKeys.AtomPath))" />
        }
        <link rel="shortcut icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">
        <link rel="icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">

        <link href="@Context.GetLink("/assets/css/master-styles.css")" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Raleway:400|Roboto+Slab:300)" rel="stylesheet">

        <meta property="og:title" content="@PageTitle" />
        @* <meta property="og:image" content="@Blog.Image" /> *@
        <meta property="og:type" content="website" />
        <meta property="og:url" content="@Context.GetLink(Model, true)" />
        <!-- TODO: More social graph meta tags -->                        
        @Html.Partial("_Head")

        </head>
        <body>                
                <!-- Main Nav -->
                <nav class="visible-md-block visible-lg-block global-nav">
                                
                        <div class="global-nav-content">
                                @Html.Partial("_Navigation")   
                        </div>                                        
                </nav>        
                <!-- Main Content -->
                <div class="main-content">
                        <div class="row">
                                <div>
                                @if(IsSectionDefined("PostHeader"))
                                {
                                        @RenderSection("PostHeader")
                                }
                                        @RenderBody()
                                        <!-- Footer -->
                                        <footer>
                                                @Html.Partial("_Footer") 
                                        </footer> 
                                </div>
                        </div>
                </div>

                @Html.Partial("_Scripts")
        </body>
</html>

