<img class="avatar-circle" src="https://gravatar.com/avatar/b0a1671bb473c5193baf0a9da7116a94?s=150" alt="Alan Grgic's avatar">
<div class="site-heading">
        <h1>Alan, Automated.</h1>
        <hr class="small" />
        @if(Context.String(BlogKeys.Intro) != null)
        {   
        <span class="subheading">@Context.String(BlogKeys.Intro)</span>
        } 
    <div class="social-links">
        <a href="https://github.com/alanag13"><img src="@Context.GetLink("/assets/images/github.svg")"/></a>
        <a href="https://twitter.com/spellgrgicright"><img src="@Context.GetLink("/assets/images/twitter.svg")"/></a>
        <a href="https://www.linkedin.com/notifications/"><img src="@Context.GetLink("/assets/images/linkedin.svg")"/></a>
        <a href="mailto:alan.grgic@gmail.com"><img class="evelope-icon" src="@Context.GetLink("/assets/images/mail.svg")"/></a>
    </div>  
</div>
@{
    if(false){
        List<Tuple<string, string>> pages = Context
            .Documents[Blog.Pages]
            .Where(x => x.Bool(BlogKeys.ShowInNavbar, true))
            .Where(x => x.FilePath(Keys.RelativeFilePath)?.FullPath?.StartsWith("index") == (bool?)false)
            .Select(x => Tuple.Create(x.WithoutSettings.String(Keys.Title), Context.GetLink(x)))
            .Where(x => !string.IsNullOrEmpty(x.Item1))
            .OrderBy(x => x.Item1)
            .ToList();
        if(Documents[Blog.Tags].Any())
        {
            pages.Insert(0, Tuple.Create("Tags", Context.GetLink("tags/index.html")));
        }
        if(Documents[Blog.BlogPosts].Any() && Context.Bool(BlogKeys.GenerateArchive))
        {
            pages.Insert(0, Tuple.Create("Archive", Context.GetLink(Context.String(BlogKeys.PostsPath) + "/index.html")));
        }
        foreach(Tuple<string, string> page in pages)
        {
            <li><a href="@page.Item2">@page.Item1</a></li>
        }
    }

}